<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>uMs - <%= myObject[0].first_name %>'s Profile</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">uMs</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/users">USERS</a></li>
        <li><a href="/create">CREATE USER</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/users">USERS</a></li>
        <li><a href="/create">CREATE USER</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="page-title">
      <h1><%= myObject[0].first_name %>'s Profile</h1>
    </div>
    <div class="path">
      <ul>
        <li><a href="/">home</a></li>
        <li><i class="material-icons">keyboard_arrow_right</i></li>
        <li><a href="/users">users</a></li>
        <li><i class="material-icons">keyboard_arrow_right</i></li>
        <li><span class="you-here"><%= myObject[0].first_name %>'s Profile</span></li>
      </ul>
    </div>
    <br>
    <br>
    <div class="row">
      <form action="/post/<%= myObject[0].id%>" method="post">
        <div class="col m10">
          <textarea name="content" rows="8" cols="80" required value="" placeholder="Post something!"></textarea>
        </div>
        <div class="col m2">
          <input id="post-button" type="submit" value="Post">
        </div>
      </form>
    </div>
    <br>
    <br>
    <form action="/edit/<%= myObject[0].id%>" method="post">
      <label class="form-lable" for="id">User ID: </label>
      <input id="user-id" type="text" name="id" readonly value="<%= myObject[0].id %>">
      <br>
      <label class="form-lable" for="first_name">First Name: </label>
      <input id="first-name" type="text" name="first_name" value="<%= myObject[0].first_name %>" required>
      <br>
      <label class="form-lable" for="last_name">Last Name: </label>
      <input id="last-name" type="text" name="last_name" value="<%= myObject[0].last_name %>" required>
      <br>
      <label class="form-lable" for="email">Email: </label>
      <input id="user-email" type="text" name="email" value="<%= myObject[0].email %>" required>
      <br>
      <label class="form-lable" for="age">Age: </label>
      <input id="user-age" type="text" name="age" value="<%= myObject[0].age %>" required>
      <br>
      <input id="submit-button" type="submit" value="Update Profile">
      <p class="delete-btn" onclick="return confirm('Are you sure you want to delete <%= myObject[0].first_name %> profile?')"><a href="/delete/<%= myObject[0].id%>">Delete</a></p>
      <br>
      <br>
    </form>
    <br>
    <div>
      <div class="post-head">
        <h4><%= myObject[0].first_name %>'s Posts</h4>
      </div>
      <div class="row">
        <div class="col m12">
          <ul class="collapsible" data-collapsible="accordion">
            <% for(let i=0; i<postObject.length; i++){ %>
            <li>
              <div class="collapsible-header">
                <%= postObject[i].content.substring(0, 30) %></div>
              <div class="collapsible-body"><span>
                <%= postObject[i].content %></span></div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <br>

  </div>
  <footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Company</h5>
          <ul>
            <li><a class="white-text" href="#">Home</a></li>
            <li><a class="white-text" href="#">About</a></li>
            <li><a class="white-text" href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">User</h5>
          <ul>
            <li><a class="white-text" href="#">Home</a></li>
            <li><a class="white-text" href="#">Users</a></li>
            <li><a class="white-text" href="#">Create Users</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; 2017, Rahul Sharma
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
