<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>User Management System</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="menu-bar" role="navigation">
    <div class="nav-wrapper"><a id="logo-container" href="/" class="brand-logo">UMS</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/create">CREATE USER</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="page-title">
      <h1><%= myObject.first_name %>'s Profile</h1>
    </div>
    <div class="path">
      <ul>
        <li><a href="/users">home</a></li>
        <li><i class="material-icons">keyboard_arrow_right</i></li>
        <li><a href="/users">users</a></li>
        <li><i class="material-icons">keyboard_arrow_right</i></li>
        <li><%= myObject.first_name %>'s Profile</li>
      </ul>
    </div>
    <br>

    <br>
    <form action="/edit/<%= myObject.id%>" method="post">
      <label class="form-lable" for="id">User ID: </label>
      <input id="user-id" type="text" name="id" readonly value="<%= myObject.id %>">
      <br>
      <label class="form-lable" for="first_name">First Name: </label>
      <input id="first-name" type="text" name="first_name" value="<%= myObject.first_name %>">
      <br>
      <label class="form-lable" for="last_name">Last Name: </label>
      <input id="last-name" type="text" name="last_name" value="<%= myObject.last_name %>">
      <br>
      <label class="form-lable" for="email">Email: </label>
      <input id="user-email" type="text" name="email" value="<%= myObject.email %>">
      <br>
      <label class="form-lable" for="age">Age: </label>
      <input id="user-age" type="text" name="age" value="<%= myObject.age %>">
      <br>
      <input type="submit" value="Update Profile">
      <br>
    </form>
    <br>
    <br>
    <h3><a href="/delete/<%= myObject.id%>">Delete Profile</a></h3>
  </div>
  <footer class="footer">
    <span class="footer-name">&copy; Rahul Sharma.</span>
    user management system
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  </body>
</html>
