
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Author: Rahul Sharma  -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>uMs</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">uMs</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">HOME</a></li>
        <li><a href="/users">USERS</a></li>
        <li><a href="/create">CREATE USER</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/users">USERS</a></li>
        <li><a href="/create">CREATE USER</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">Post Something</h1>
        <div class="row center">
          <h5 class="header col s12 white-text">do you have something interesting? Share with us!</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="/picOne.jpg" alt="background"></div>
  </div>
  <div class="container">
    <br>
    <br>
    <h4 class="center orange-text">LATEST POSTS</h4>
    <br>
    <div class="row">
      <div class="col m12">
        <ul class="collapsible" data-collapsible="accordion">
          <% for(let i=0; i<postObject.length; i++){ %>
            <li>
              <div class="collapsible-header"><%= postObject[i].content.substring(0, 30) %>

              </div>
              <div class="collapsible-body"><span><%= postObject[i].content %></span>
                <br>
                <div class="post-by">
                  <% for(let m=0; m<userObject.length; m++){ %>
                    <% if(postObject[i].user_id === userObject[m].id){ %>
                      By: <a href="/edit/<%= userObject[m].id %>">
                        <%= userObject[m].first_name %>
                        <%= userObject[m].last_name %>
                      </a>
                    <% } %>
                  <% } %>
                </div>
                <div class="comment">
                  <div class="row">
                    <form action="/comment/<%= postObject[i].id %>" method="post">
                      <div class="col m7">
                        <textarea name="content" rows="8" cols="80" placeholder="Comment" required></textarea>
                      </div>
                      <div class="col m3">
                        <select name="user_id">
                          <option>Select User</option>
                          <% for(let j=0; j<userObject.length; j++){ %>
                            <option value="<%= userObject[j].id %>">
                              <%= userObject[j].first_name %>
                              <%= userObject[j].last_name %>
                            </option>
                          <% } %>
                        </select>
                      </div>
                      <div class="col m2">
                        <input id="post-btn" type="submit" value="Post">
                      </div>

                    </form>

                  </div>
                  <hr>
                  <div class="user-comment">
                    <% for(let k=0; k<commentObject.length; k++){ %>
                      <% if(postObject[i].id === commentObject[k].post_id){ %>
                        <i class="material-icons">comment</i>
                        <%= commentObject[k].content %>
                        <% for(let l=0; l<userObject.length; l++){ %>
                          <% if(commentObject[k].user_id === userObject[l].id){ %>
                            <span class="comment-by">By: <a href="/edit/<%= userObject[l].id %>">
                              <%= userObject[l].first_name %>
                              <%= userObject[l].last_name %></a>
                            </span>
                          <% } %>
                        <% } %>
                        <br>
                        <br>
                      <% } %>


                    <% } %>
                  </div>
                </div>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
    <br>
    <br>
  </div>
  <footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Company</h5>
          <ul>
            <li><a class="white-text" href="#">Home</a></li>
            <li><a class="white-text" href="#">About</a></li>
            <li><a class="white-text" href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">User</h5>
          <ul>
            <li><a class="white-text" href="#">Home</a></li>
            <li><a class="white-text" href="#">Users</a></li>
            <li><a class="white-text" href="#">Create Users</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; 2017, Rahul Sharma
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
